<script lang="ts">
  import FileDrop, { FileDropSelectEvent } from 'filedrop-svelte';
  import PaletteViewer from './PaletteViewer.svelte';
  import { Palette } from './utils/palette';
  import { loadDatPalette } from './utils/rle-decoder';

  let palette: Palette;

  async function handleFileDrop(e: CustomEvent<FileDropSelectEvent>) {
    const file = e.detail.files?.accepted?.[0];
    if (file) {
      palette = await loadDatPalette(file);
    }
  }
</script>

<main>
  <h1>RCT2 Palette Viewer</h1>
  <p>
    See <a href="https://gitlab.com/islandsvinur/rct2-palette-viewer"
      >islandsvinur/rct2-palette-viewer</a
    > on GitLab.com
  </p>
  <FileDrop on:filedrop={handleFileDrop} />
  <PaletteViewer bind:palette />
  <div class="footer">Made with ♥ in the Netherlands</div>
</main>

<style>
  main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
  }

  h1 {
    color: #ff3e00;
    text-transform: uppercase;
    font-size: 4em;
    font-weight: 100;
  }

  div.footer {
    height: 5em;
  }

  @media (min-width: 640px) {
    main {
      max-width: none;
    }
  }
</style>
