<script lang="ts">
  import { Color } from './utils/color';

  export let color: Color;
  export let description: string | undefined = undefined;

  const formatter = new Intl.NumberFormat('en-US', {
    maximumSignificantDigits: 3,
  });
</script>

<div class="swatch" style="background-color: {color.toHexRgb()}">
  <div class="hover">
    {color.toHexRgb()}<br/>
    {#if description}({description})<br />{/if}
    Hue:&nbsp;{formatter.format(color.color.toHsl().h)}<br />
    Brightness:&nbsp;{formatter.format(color.color.getBrightness())}<br />
    Luminance:&nbsp;{formatter.format(color.color.getLuminance())}
  </div>
</div>

<style lang="scss">
  div.swatch {
    flex: 1;
    height: 3em;
  }

  div.hover {
    display: none;
  }

  div.swatch:hover {
    box-sizing: border-box;
    border: thin solid red;

    div.hover {
      background-color: rgba(255, 255, 255, 0.7);
      display: block;
      position: absolute;
      border: thin solid black;
      padding: 1em;
      margin-top: 3em;
      margin-left: 2em;
    }
  }
</style>
