<script lang="ts">
  import ColorSwatch from './ColorSwatch.svelte';
  import { Palette } from './utils/palette';

  export let palette: Palette = new Palette([]);

  const slices = [
    ...Array.from({ length: 18 }, (v, k) => [k * 12, (k + 1) * 12]),
    [216, 217],
    [217, 220],
    [220, 230],
    [230, 233],
    [233, 236],
    [236, 281],
    [281, undefined],
  ];

  const slice = (length) => (start, template) =>
    Array.from({ length }, template).reduce(
      (acc, v, i) => ({ ...acc, [i + start]: v }),
      {}
    );
  const slice12 = slice(12);

  // Based on https://github.com/OpenRCT2/OpenRCT2/blob/4ed12489be1d6ce5c103fb17bd4ae6df6abc46cd/src/openrct2/interface/Colour.h
  // And https://github.com/OpenRCT2/OpenRCT2/blob/4ed12489be1d6ce5c103fb17bd4ae6df6abc46cd/src/openrct2/drawing/ImageImporter.h
  const paletteOffset = 10;
  const paletteIndexes = {
    0: 'Unused / Transparent',
    ...slice(9)(1, (v, k) => `Misc. e.g. font, water, chain lift (${k})`),
    ...slice12(10, (v, k) => `Grey (${k})`),
    ...slice12(22, (v, k) => `Olive (${k})`),
    ...slice12(34, (v, k) => `Light Brown (${k})`),
    ...slice12(46, (v, k) => `Tertiary remap ${k} / Yellow`),
    ...slice12(58, (v, k) => `Indian Red (${k})`),
    ...slice12(70, (v, k) => `Grass Green (${k})`),
    ...slice12(82, (v, k) => `Olive Green (${k})`),
    ...slice12(94, (v, k) => `Green (${k})`),
    ...slice12(106, (v, k) => `Tan (${k})`),
    ...slice12(118, (v, k) => `Indigo (${k})`),
    ...slice12(130, (v, k) => `Blue (${k})`),
    ...slice12(142, (v, k) => `Sea Green (${k})`),
    ...slice12(154, (v, k) => `Purple (${k})`),
    ...slice12(166, (v, k) => `Red (${k})`),
    ...slice12(178, (v, k) => `Orange (${k})`),
    ...slice12(190, (v, k) => `Water Blue (${k})`),
    // 173: 'Used to draw intense lines in the Ride Graphs window',
    // 183: 'Used to draw rides in the Map window',
    ...slice12(202, (v, k) => `Secondary remap ${k} / Pink (${k})`),
    ...slice12(214, (v, k) => `Brown (${k})`),
    226: 'Extra Gray',
    ...slice(3)(227, (v, k) => `Extra Yellow ${k}`),
    ...slice(5)(230, (v, k) => `Water (waves) ${k}`),
    ...slice(5)(235, (v, k) => `Water (sparkles) ${k}`),
    ...slice(3)(240, (v, k) => `Track rails ${k}`),
    ...slice12(243, (v, k) => `Primary remap ${k}`),
  };
</script>

{#each slices as slice}
  <div class="slice">
    {#each palette.colors.slice(...slice) as color, index}
      <ColorSwatch
        {color}
        bind:description={paletteIndexes[slice[0] + index + paletteOffset]}
      />
    {/each}
  </div>
{/each}

<style>
  .slice {
    display: flex;
    flex-direction: row;
    margin: 0 8em;
  }
</style>
